{{!-- future development to dynamically generate a message for the user based on their previous day's mood --}}

<div class="bgLogo">
         <div class="border">
            <section id= "consecutive-day">
                <p> You have logged: 46 DAYS</p>
            </section>
         </div>
</div>