<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MoodRng</title>
  <!-- <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
  <style>
      .container{
        width: 250px;
        height:200px;
        border: 1px solid #26ad65;
      }

      .bar {
        fill: #26ad65;
      }
  </style>
</head>

<body>
  <header>
    <h1>Welcome to the MoodRng</h1>
  </header>
  
    <svg></svg>
    <ul></ul>
    <!-- d3 code -->
    <svg class="mood-graph"></svg>
    <script src="https://d3js.org/d3.v4.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://d3js.org/d3-scale.v3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>
    <script src="../../public/js/graph2.js"></script> 
</body>

</html>

<!-- {
    id: {
      type: DataTypes.INTEGER,
      allowNull: false,
      primaryKey: true,
      autoIncrement: true,
    },
    user_id: {
      type: DataTypes.INTEGER,
      allowNull: false,
      references: {
        model: "user",
        key: "id",
      },
    },
    mood: {
      type: DataTypes.INTEGER,
      allowNull: false,
    },
    sleep: {
      type: DataTypes.INTEGER,
      allowNull: false,
    },
    food: {
      type: DataTypes.STRING,
      allowNull: false,
    },
    activities: {
      type: DataTypes.STRING,
      allowNull: false,
    },
  }, -->