 <div class="logout_div">
   <br>
   <br>
        {{#if loggedIn}}
        <button id="logout" class="btn btn-outline-success">LOGOUT</button>
        <script src="../js/logout.js"></script>
        {{/if}}
        
      </div>
    