{{!-- future development to dynamically generate message of encouragement to user based on their mood/streak --}}

 <div class="bgLogo">
    <div class="border">
        <section id="message">
            <p>YER DOIN GREAT, KID!!!</p>
        </section>
    </div>
</div>