 <div class="bgLogo">
         <div class="border">
             
            <h3>Most Recent Entry</h3>
            
            <ul>
                 <li>Mood: 🧘🏻‍♂️</li>
                 <li>Sleep: 6</li>
                 <li>food: Broccoli and Chicken</li>
                 <li>Activities: Xtreme Snowboarding</li>
             </ul>
            
        </div>
 </div>