{{! <div class="bg"> }}
<div class="bgLogo">
  <img id="logo" src="../../images/logo1.png" href="" alt="logo" />
  <br />
  <br />
  <div class="border">
    <p id="log">Log your mood and find your groove!</p>
    <form id="login-form">
      <label for="exampleInputEmail1"></label>
      <input id="email-login" type="email" class="forms" placeholder="Email" />
      <label for="exampleInputPassword1"></label>
      <input
        id="password-login"
        type="password"
        class="forms"
        placeholder="Password"
      />
      <button type="submit" id="login-button" class="btn btn-outline-success">
        SUBMIT
      </button>
    </form>
    <p id="create">
      {{! Don't have an account? Create one
        <a href="./homepage.handlebars"> here </a>
        and get started! }}
    </p>
  </div>
  <br>
  <div class="border">
    <p id="log">Sign up here!</p>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup"></label>
        <input
          class="forms"
          type="text"
          id="username-signup"
          placeholder="Username"
        />
      </div>
      <div class="form-group">
        <label for="first_name"></label>
        <input
          class="forms"
          type="text"
          id="first_name-signup"
          placeholder="First Name"
        />
      </div>
      <div class="form-group">
        <label for="last_name"></label>
        <input
          class="forms"
          type="text"
          id="last_name-signup"
          placeholder="Last Name"
        />
      </div>
      <div class="form-group">
        <label for="email-signup"></label>
        <input
          class="forms"
          type="email"
          id="email-signup"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <label for="password-signup"></label>
        <input
          class="forms"
          type="password"
          id="password-signup"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-outline-success"
          id="signup-button"
          type="submit"
        >SIGN UP</button>
      </div>
    </form>
  </div>
</div>
{{! </div> }}
{{! <div class="bgLogo"> }}
{{!-- <div class="about">
  <img id="who" src="../../images/about.png" href="" alt="logo" />
  {{! <h1>What is MoodRng?</h1> }}
</div> --}}
{{! </div> }}
<script src="/js/sign-up.js"></script>
<script src="/js/login.js"></script>

{{! 
<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>}}